* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
:root {
 --text-color:#ffffff;
 --opaque-green:rgba(88, 182, 88, 0.774);
 --green:rgb(88, 182, 88);
 --text-shadow: rgb(82, 82, 82);
 --background-shadow: rgba(0, 0, 0, 0.411);

}
body {
    background-image: linear-gradient(var(--background-shadow),var(--background-shadow)), url(background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 300vh;
    font-size: 16px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
  
     
}

.header  {
    min-height: 50vh;
    padding: 0px 20px;
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px 10px;
    background-color: var(--opaque-green);
    align-items: center;
    height: 60px;
    z-index: 1000;

}
.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    align-items: center;

}

.nav__list--item {
    padding: 0px 20px;
    font-weight: 200;
    letter-spacing: 2px;

}

.nav__list--item a {
    text-decoration: none;
    color: var(--text-color);
}

.nav__list--item a:hover {
    background-color: var(--text-color);
    color: var(--green);
    border-radius: 25px;
    padding: 4px;
}

.main {
    min-height: 220vh;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    gap: 100px;
}
.About {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 20px;
}

.main h1 {
    font-size: 100px;
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: var(--text-shadow) 6px 6px;
}
.main p {
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: var(--text-shadow) 3px 3px;
    
}

.container {
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 200px 200px ;
    gap: 50px;

}

.container__item--l,
.container__item--r {
    width: 200px;
    height: 200px;
    background-color:#ffffff6c;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}


.image1,
.image2 {
    animation: moveSpritesheet 2s steps(9) infinite;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--opaque-green);
    min-height: 30vh;
    letter-spacing: 2px;
    font-size: 40px;
}
.footer__link--icon {
    padding: 20px;
    color: var(--text-color);
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    body {
        min-height: 100vh;
        width: 100%;
    }
    .header {
        min-height: 20vh;
    }
    .main {
        min-height: 60vh;
    }
    .main h1 {
        font-size: 30px;
        letter-spacing: 3px;
        text-shadow: var(--text-shadow) 2px 2px;
     }
     .main p {
        font-size: 18px;
        letter-spacing: 1px;
        text-shadow: var(--text-shadow) 1px 1px;
     }
    .footer {
        min-height: 20vh;
        font-size: 18px;
    }
    